#container {
  width: 800px;
  height: 800px;
  position: relative;
  background: lightblue;
}
#player {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: darkblue;
}
#platform {
  width: 75px;
  height: 25px;
  position: absolute;
  border-style: double;
  border-radius: 10px;
  border-color: yellow;
  background-color: purple;
}
