#container {
  width: 1200px;
  height: 900px;
  position: relative;
  background: lightblue;
}

#player {
  width: 25px;
  height: 25px;
  position: absolute;
  visibility: hidden;
}

#playerSprite {
  height: 57px;
  width: 48px;
  background: 
  url('assets/images/playerSprite.png') 0px 0px;
}

.page-header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 48px;
  visibility: visible;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}


.platform {
  width: 100px;
  height: 30px;
  position: absolute;
  border-style: double;
  border-radius: 10px;
  border-color: yellow;
  background-color: purple;
}
